<section class="hero is-fullheight" id="loginView">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column column is-5-tablet is-4-desktop is-4-widescreen">
          <div class="header-name">
            <h1 class="title has-text-white is-size-1 has-text-centered">Parkit</h1>
            <img src="/images/Icono Elias_Mesa de trabajo 1.png">
          </div>
          <div class="card">
          <h1 class="title">Log In</h1>
          <form action="/auth/login" method="POST">
            <div class="field">
              <label class="label">Email</label>
              <p class="control has-icons-left has-icons-right">
                <input class="input" name="email" type="email" placeholder="Email">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <p class="control has-icons-left has-icons-right">
                <input class="input" name="password" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control">
                <button class="button is-primary is-medium">
                  LogIn
                </button>
              </p>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>