<div class="columns">
  <div class="column is-offset-one-third is-one-third is-three-quarters-mobile">
    <h1>Sign Up</h1>
    <form action="/auth/signup" method="POST">
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input" name="email" type="email" placeholder="Email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" name="password" type="password" placeholder="Password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button class="button is-primary">
            Sign Up
          </button>
        </p>
      </div>
    </form>
  </div>
</div>