<section class="hero hero-section">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white	">
        Submit your Car
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-quarters">
        <form action="/create-car" method="POST">
          <div class="field">
            <label class="label">Plate Number</label>
            <div class="control">
              <input class="input" type="text" name="plateNumber" placeholder="Example: 754Y6V">
            </div>
          </div>
          <div class="field">
            <label class="label">Model</label>
            <div class="control">
              <input class="input" type="text" name="model" placeholder="Example: Nissan Versa">
            </div>
          </div>
          <div class="field">
            <label class="label">Color</label>
            <div class="control">
              <input class="input" type="text" name="color" placeholder="Example: black">
            </div>
          </div>
          <div class="field">
            <label for="" class="label">Dimensions:</label>
            <div class="cc-selector">
              <input id="dimensionsWS" type="radio" name="dimensionsW" value="S">
              <label for="S" class="smallCar labelCar">Small</label>
              <input id="dimensionsWS" type="radio" name="dimensionsW" value="M">
              <label for="M" class="mediumCar labelCar">Medium</label>
              <input id="dimensionsWS" type="radio" name="dimensionsW" value="L">
              <label for="L" class="largeCar labelCar">Large</label>
            </div>
          </div>
          <div class="field">
            <p class="control">
              <button class="button is-primary">
                Submit
              </button>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>