<section class="hero is-primary is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        ParknGo
      </h1>
      <h2 class="subtitle">
        Encuentra un lugar donde quiera que vayas.
      </h2>
    </div>
  </div>
</section>