<<<<<<< HEAD
<h1>PRIMER PANTALLA de nuestro proyecto</h1>
<h1>PRIMER PANTALLA LOQUESEA</h1>
=======
<section class="hero is-primary is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        ParknGo
      </h1>
      <h2 class="subtitle">
        Encuentra un lugar donde quiera que vayas.
      </h2>
    </div>
  </div>
</section>
>>>>>>> 5d14f73c91844c9e15fbfce6437a1721008440eb
