body{
  margin:0;
  padding:0;
}
.hero{
  background-image: url('../images/parking1.jpg');
  background-size:cover;
}
#have-form, #want-form{
  display: none;
} 

#hours{
  display:none;
}
.card{
  margin-top:20px;
  padding: 30px 20px;
  border-radius: 10px;
}
#search{
  width: 50%;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  margin-bottom: 20px;
}