body{
  margin:0;
  padding:0;
}
.hero{
  background-image: url('../images/parking1.jpg');
  background-size:cover;
  min-height: calc(100vh - 75px);
}
.navbar{
  height: 75px;
}
#hours{
  display:none;
}
.card{
  margin-top:20px;
  padding: 30px 20px;
  border-radius: 10px;
}